:root {
  --primary-text-color: #b9b9b9;
  --secondary-text-color: #111518;
  --primary-accent-color: #ff6b09;
  --accent-color: #b93913;
  --secondary-accent-color: #ffffff;
  --reviews-text-color: #3d3d3d;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #e5e5e5;
  --contacts-bg-color: #111518;
  --gaurantee-bg-color: #f1f1f1;
}
