<section class="about section">
  <div class="about__container container">
    <div>
      <h1 class="about__title section-title" id="about">Teacher</h1>
      <picture>
        <source media="(min-width: 1680px)"
          srcset="./images/about/desktop-about-img/desctop-about-web.webp 1x, ./images/about/desktop-about-img/desktop-about-web@2x.webp 2x"
          type="image/webp" />

        <source media="(min-width: 768px)"
          srcset="./images/about/mob-tab-about-img/mob-tab-about-web.webp 1x, ./images/about/mob-tab-about-img/mob-tab-about-web@2x.webp 2x"
          type="image/webp" />

        <source media="(min-width: 320px)"
          srcset="./images/about/mob-tab-about-img/mob-tab-about-web.webp 1x, ./images/about/mob-tab-about-img/mob-tab-about-web@2x.webp 2x"
          type="image/webp" />

        <source media="(min-width: 1680px)"
          srcset="./images/about/desktop-about-img/desktop-about-img.jpg 1x, ./images/about/desktop-about-img/desktop-about-img@2x.jpg 2x" />

        <source media="(min-width: 768px)"
          srcset="./images/about/mob-tab-about-img/mob-tab-about-img.jpg 1x, ./images/about/mob-tab-about-img/mob-tab-about-img@2x.jpg 2x" />

        <source media="(min-width: 320px)"
          srcset="./images/about/mob-tab-about-img/mob-tab-about-img.jpg 1x, ./images/about/mob-tab-about-img/mob-tab-about-img@2x.jpg 2x" />

        <img class="about__img" src="./images/about/mob-tab-about-img/mob-tab-about-img.jpg" alt="Елена Морева">
      </picture>
    </div>
    <div class="about__block">
      <h2 class="about__subtiile">Elena Moreva</h2>
      <ul class="about__list list">
        <li class="about__item">
          <p class="about__item-text">6 yeards of experience in preparing students for UPE</p>
        </li>
        <li class="about__item">
          <p class="about__item-text">Own result of passing VNO - 197 points 2 years in a row</p>
        </li>
        <li class="about__item">
          <p class="about__item-text">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary
            English Test)</p>
        </li>
      </ul>
      <div class="about__block-text">
        <p class="about__text">Graduated from the Institute of International Relations of the NAU with a degree in
          translator-analyst.</p>
        <p class="about__text">In spare time
          takes courses from the best universities in the world on effective teaching and essay writing
          techniques.</p>
        <p class="about__text">Completed:
          English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How to
          Write an
          Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful
          Tools
          for
          Teaching and Learning (University of Houston).</p>
      </div>
      <a class="about__certificate link" href="https://www.cambridgeenglish.org/">Cambrige English Entry Level
        Certificate</a>
    </div>
  </div>
</section>