<section class="section advantages">
    <div class="container">
        <h2 class="visually-hidden">advantages</h2>
        <ul class="advantages__list list">
            <li class="advantages__item advantages__item--face">
                Adapted author's UPE program
            </li>
            <li class="advantages__item advantages__item--phone">
                Modern teaching methods
            </li>
            <li class="advantages__item advantages__item--umbrella">
                Financial guarantee the result
            </li>
        </ul>
    </div>
</section>