<section class="section benefits">
    <div class="container benefits__container">
        <h2 class="section-title benefits__title">Why do people choose us</h2>
        <div class="benefits__wripper">
            <ul class="benefits__list list">
                <li class="benefits__item">
                    <h3 class="benefits__subtitle">01</h3>
                    <p class="benefits__subscriber">Training in small groups</p>
                </li>
                <li class="benefits__item">
                    <h3 class="benefits__subtitle">02</h3>
                    <p class="benefits__subscriber">Rendered notes</p>
                </li>
                <li class="benefits__item">
                    <h3 class="benefits__subtitle">03</h3>
                    <p class="benefits__subscriber">Each lesson has a goal and a specific result</p>
                </li>
                <li class="benefits__item">
                    <h3 class="benefits__subtitle">04</h3>
                    <p class="benefits__subscriber">The real results of the teacher</p>
                </li>
                <li class="benefits__item">
                    <h3 class="benefits__subtitle">05</h3>
                    <p class="benefits__subscriber">The course program meets the requirements of the MES of Ukraine</p>
                </li>
                <li class="benefits__item">
                    <h3 class="benefits__subtitle">06</h3>
                    <p class="benefits__subscriber">Set of groups by level of knowledge</p>
                </li>
            </ul>
        </div>
    </div>
</section>