<section class="section contacts">
  <div class="container">
    <b class="contacts__title" id="contacts">Registration for a <span class="contacts__title--accent">free</span> phone
      <span class="contacts__title--accent">consultation</span> on the nuances of English UPE</b>
    <p class="contacts__text">Leave a request for participation in a <span class="contacts__text--accent">free
        lesson<span class="contacts__text--white">.</span></span>
      <span class="contacts__text--indent">A consultant will contact you and answer your questions</span>
    </p>
    <form class="contact-form">
      <input type="text" class="contact-form__input" name="user_name" placeholder="Name*"
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$">
      <input pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx" type="tel"
        class="contact-form__input contact-form__input--reset" name="user_phone" placeholder="Phone*">
      <button type="submit" class="modal-btn contact-form__btn">I want a free lesson</button>
    </form>
  </div>
</section>