<footer class="footer">
  <section class="footer__section section">
    <div class="footer__container container">
      <a href="./index.html" class="header__logo link">Hell<span class="header__logo-en"></span>EN<br>
        <span class="header__logo-hellish">hellish
          <span class="header__logo-english">english</span>
        </span>
      </a>
      <ul class="footer__list list">
        <li class="footer__link">
          <a class="footer__mobile link" href="tel:+38 (000) 000 00 00" target="_blank" rel="noreferrer noopener">
            <svg class="footer__mobile-icon" width="20px" height="19px">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg> +38 (000) 000 00 00</a>
        </li>
        <li class="footer__link-icon">
          <a class="footer__social" href="https://instagram.com" target="_blank" rel="noreferrer noopener" width="40px"
            height="40px">
            <svg class="footer__social-icon" width="25px" height="25px">
              <use href="./images/sprite2.svg#icon-inst">
              </use>
            </svg>
          </a>
        </li>
      </ul>

    </div>

  </section>
  <div class="footer__bottom container">
    <p class="footer__bottom-text">@ All rights reserved, 2019</p>
  </div>

</footer>