<header class="header container">
  <div class="header__container">

    <a href="./index.html" class="header__logo link">Hell<span class="header__logo-en"></span>EN<br>
      <span class="header__logo-hellish">hellish
        <span class="header__logo-english">english</span>
      </span>
    </a>


    <nav class="header__navigation">
      <ul class="header__sitenav list">
        <li class="header__siteitem"><a href="" class="link">studying program</a></li>
        <li class="header__siteitem"><a href="" class="link">about</a></li>
        <li class="header__siteitem"><a href="" class="link">training options</a></li>
        <li class="header__siteitem"><a href="" class="link">contacts</a></li>
      </ul>
    </nav>
    <button type="button" class="header__button modal-btn">consultation by phone</button>
    <button type="button" class="header__burgermenu" aria-label="Переключатель мобильного меню">
      <svg class="header__burgermenu-icon" width="20.5" height="12">
        <use href="./images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="header__menu">
    <div class="menu__container container"></div>
  </div>

</header>