<section class="section hero overlay">
  <div class="container hero__wripper">
    <div class="hero__left">
      <h1 class="hero__title">Complex preparation for English UPE</h1>
      <p class="hero__description">It won’t be easy.</p>
      <b class="hero__subtitle">But you are guaranteed to get<span class="hero__subtitle--accent">+25 points</span></b>
      <button type="button" class="modal-btn hero__btn"><a class="link" href="#contacts">i want a free
          lesson</a></button>
    </div>
    <div class="hero__img">
      <picture>
        <source media="(min-width: 1680px)"
          srcset="../src/images/hero/desktop-hero-img/desktop-hero-web.webp 1x, ../src/images/hero/desktop-hero-img/desktop-hero-web@2x.webp 2x"
          type="image/webp" />

        <source media="(min-width: 768px)"
          srcset="../src/images/hero/tablet-hero-img/tablet-hero-web.webp 1x, ../src/images/hero/tablet-hero-img/tablet-hero-web@2x.webp 2x"
          type="image/webp" />

        <source media="(min-width: 320px)"
          srcset="../src/images/hero/mobile-hero-img/mobile-hero-web.webp 1x, ../src/images/hero/mobile-hero-img/mobile-hero-web@2x.webp 2x"
          type="image/webp" />

        <source media="(min-width: 1680px)"
          srcset="../src/images/hero/desktop-hero-img/desktop-hero-img.png 1x, ../src/images/hero/desktop-hero-img/desktop-hero-img@2x.png 2x" />

        <source media="(min-width: 768px)"
          srcset="../src/images/hero/tablet-hero-img/tablet-hero-img.png 1x, ../src/images/hero/tablet-hero-img/tablet-hero-img@2x.png 2x" />

        <source media="(min-width: 320px)"
          srcset="../src/images/hero/mobile-hero-img/mobile-hero-img.png 1x, ../src/images/hero/mobile-hero-img/mobile-hero-img@2x.png 2x" />

        <img src="../src/images/hero/mobile-hero-img/mobile-hero-img.png" alt="сотрудники на совещании">
      </picture>
    </div>
  </div>
</section>