<section class="problems">
  <div class="problems__container container">
    <div class="problems__backside">
      <h2 class="problems__title section-title">The main problems of students
        in English UPE, which <br>
        we <span class="problems__title-particle">help</span> to solve</h2>
    </div>
    <div class="problems__front">
      <ul class="problems__list list">
        <li class="problems__item">
          <h3 class="problems__subtitle">01</h3>
          <p class="problems__text">Grammar</p>
        </li>
        <li class="problems__item">
          <h3 class="problems__subtitle">02</h3>
          <p class="problems__text">Inability to understand
            spoken English</p>
        </li>
        <li class="problems__item">
          <h3 class="problems__subtitle">03</h3>
          <p class="problems__text">Stingy vocabulary for writing an essay</p>
        </li>
        <li class="problems__item">
          <h3 class="problems__subtitle">04</h3>
          <p class="problems__text">Preparing alone</p>
        </li>
        <li class="problems__item">
          <h3 class="problems__subtitle">05</h3>
          <p class="problems__text">Lack of a single knowledge resource</p>
        </li>
        <li class="problems__item">
          <h3 class="problems__subtitle">06</h3>
          <p class="problems__text">Lack of self-organization and laziness</p>
        </li>
      </ul>

    </div>
  </div>
</section>